<ion-header>
  <ion-toolbar color="primary">
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="selected" padding-top padding-bottom>
    <ion-segment-button value="sports">
      <ion-label>Sports</ion-label>
    </ion-segment-button>
    <ion-segment-button value="technology">
      <ion-label>Technology</ion-label>
    </ion-segment-button>
    <ion-segment-button value="health">
      <ion-label>Health</ion-label>
    </ion-segment-button>
  </ion-segment>
 
  <ion-list>
    <ion-item button *ngFor="let n of news" (click)="open(n)">
      <ion-thumbnail slot="start">
        <img [src]="n.urlToImage">
      </ion-thumbnail>
      <ion-label text-wrap>
        <h3>{{ n.title }}</h3>
        <p>{{ n.publishedAt | date:'short' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>